In [1]:
##Q1

In [2]:
import pandas as pd
df = pd.DataFrame({
    'Time_Studied': [4,3,5,7,6],
    'Marks_Obtained': [60 ,45, 70, 90, 83]
})
df

   Time_Studied  Marks_Obtained
0             4              60
1             3              45
2             5              70
3             7              90
4             6              83

In [6]:
##We can also find the Pearson's correlation using Python:

df.corr(method='pearson')

                Time_Studied  Marks_Obtained
Time_Studied        1.000000        0.993678
Marks_Obtained      0.993678        1.000000

In [7]:


##Interpretation:
##The Pearson's correlation coefficients in the given results indicate a very strong positive correlation between the variables of "Time_Studied" and "Marks_Obtained".

##Both correlation coefficients are close to 1.000, which means that there is a very strong positive relationship between the two variables. This suggests that as "Time_Studied" increases, "Marks_Obtained" also increases.

In [8]:
##Q2

In [9]:


df = pd.DataFrame({
    'Sleep_Amount': [6, 7, 5, 8, 7, 6, 5, 9, 8, 7],
    'Job_Satisfaction': [8, 9, 4, 7, 6, 5, 3, 10, 9, 8]
})
df

   Sleep_Amount  Job_Satisfaction
0             6                 8
1             7                 9
2             5                 4
3             8                 7
4             7                 6
5             6                 5
6             5                 3
7             9                10
8             8                 9
9             7                 8

In [10]:
##We can also find the Pearson's correlation using Python:

df['Sleep_Amount'].corr(df['Job_Satisfaction'], method='spearman')

0.7976045521851899

In [11]:
df.corr(method='spearman')

                  Sleep_Amount  Job_Satisfaction
Sleep_Amount          1.000000          0.797605
Job_Satisfaction      0.797605          1.000000

In [12]:


##Interpretation:
##The correlation coefficient between Sleep Amount and Job Satisfaction is 0.797605, which is close to +1. This indicates a strong positive monotonic correlation between these two variables.

##As the amount of sleep individuals get each night increases, their overall job satisfaction level tends to increase as well. Conversely, as the amount of sleep decreases, job satisfaction tends to decrease.

In [13]:
##Q3

In [14]:
##To calculate the Pearson correlation coefficient and the Spearman's rank correlation between the number of hours of exercise per week and body mass index (BMI) in a sample of 50 adults, we need to have data for both variables.

##We can use Python to generate random data for both variables and then calculate the Pearson and Spearman's rank correlation between them:

import numpy as np
num_of_hours = np.random.normal(5, 2, 50)
bmi = np.random.normal(25, 5, 50)
df = pd.DataFrame({
    'num_of_hours': num_of_hours,
    'bmi': bmi
})
df.head()

   num_of_hours        bmi
0      7.676439  21.013778
1      2.741008  21.789095
2      0.676759  20.520862
3      7.243673  17.366794
4      5.350045  28.983333

In [15]:


##Pearson's Coefficient Correlation:

df.corr(method='pearson')

              num_of_hours       bmi
num_of_hours      1.000000 -0.004674
bmi              -0.004674  1.000000

In [16]:


##Spearman's Rank Correlation:

df.corr(method='spearman')

              num_of_hours       bmi
num_of_hours      1.000000  0.049988
bmi               0.049988  1.000000

In [17]:


##Results Comparison:

##The Pearson correlation coefficient measures the linear relationship between two variables, and it ranges from -1 (perfect negative correlation) to +1 (perfect positive correlation), with 0 indicating no correlation. In this case, the Pearson correlation coefficient between num_of_hours and bmi is 0.138895, which indicates a weak positive correlation between the two variables.

##On the other hand, the Spearman correlation coefficient measures the monotonic relationship between two variables, which means it assesses the strength and direction of a relationship between two variables, without assuming any particular functional form of the relationship. It also ranges from -1 to +1, with 0 indicating no correlation. In this case, the Spearman correlation coefficient between num_of_hours and bmi is 0.116447, which also indicates a weak positive correlation between the two variables.

In [18]:
##Q4

In [19]:
##To calculate the Pearson correlation coefficient between the number of hours individuals spend watching television per day and their level of physical activity of hours of exercise per week in a sample of 50 pariticipants, we need to have data for both variables.

##We can use Python to generate random data for both variables and then calculate the Pearson correlation coeffiecients:

num_of_hours = np.random.normal(6, 4, 50)
amount_of_activity= np.random.normal(10, 6, 50)
df = pd.DataFrame({
    'num_of_hours': num_of_hours,
    'physical_activity': amount_of_activity
})
df.head()

   num_of_hours  physical_activity
0      9.007454          10.937752
1      4.946320           0.075221
2      8.172182           1.897610
3      7.073499          28.351833
4     16.027391          13.337863

In [20]:


##Pearson's Coefficient Correlation:

df.corr(method='pearson')

                   num_of_hours  physical_activity
num_of_hours           1.000000          -0.075865
physical_activity     -0.075865           1.000000

In [21]:
##Q5

In [22]:
df = pd.DataFrame({
    "Age(Years)": [25, 42, 37, 19, 31, 28],
    "Soft Drink Preference": ['Coke', 'Pepsi', 'Mountain Dew', 'Coke', 'Pepsi', 'Coke']
})
df

   Age(Years) Soft Drink Preference
0          25                  Coke
1          42                 Pepsi
2          37          Mountain Dew
3          19                  Coke
4          31                 Pepsi
5          28                  Coke